#contact-section{
    background-color: rgba(230, 203, 174, 0.65);
    font-family: 'MedievalSharp', cursive;
    width: 85%;
    text-align: center;
    border: 4px solid #47261d;
    border-radius: 10px;
    color: #3d0c07;
    max-width: 700px;
}

#map-img{
    width: 95%;
    margin-bottom: 15px;
}

.fa-envelope-open-text, .fa-map-marker{
    font-size: 20px;
}

@media only screen and (min-width: 800px) {
    #contact-section{
        font-size: 18px;
    }
}